# Practical 8 
### Implement simple regression. Implement linear regression to predict the 5th semester result of student.

In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [4]:
df = pd.read_csv('practical data.csv')
df.head()

,Sr. No.,Enrollment Number,Name,Gender,Mobile Number,City,COA,OS,CN,OOP-1,DS,EG,PERFORMANCE
0,1,1.0,ANSARI ASHFAK HUSSAIN ABRAR AHMED,Male,9825672577,Panchmahal,70,76,81.0,67,56.0,45,AVGERGE
1,2,2.0,BARIA LEVIN SANTOSHBHAI,Male,9884375747,Anand,40,69,85.0,44,34.0,55,AVGERGE
2,3,3.0,CHAUHAN ABHISHEK RAMKUNVAR,Male,9876428544,Amreli,34,43,86.0,45,86.0,53,CLEVER
3,4,4.0,DESAI JIGAR ANILBHAI,Male,9828909545,Ahmedabad,66,62,71.0,65,77.0,56,AVGERGE
4,5,5.0,DHARAJIYA JIGNESHKUMAR GOPALBHAI,Male,9831362615,Ahmedabad,65,67,87.0,34,63.0,76,AVGERGE

In [7]:
reg = linear_model.LinearRegression()

In [22]:
reg.fit(df[['COA', 'OS']], df.EG)

LinearRegression()

In [23]:
reg.coef_

array([0.00261101, 0.2120199 ])