# Practical 7
### Implement a method to treat missing value for gender and missing value for marks.

In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('practical data.csv')
df

,Sr. No.,Enrollment Number,Name,Gender,Mobile Number,City,COA,OS,CN,OOP-1,DS,EG,PERFORMANCE
0,1,1.0,ANSARI ASHFAK HUSSAIN ABRAR AHMED,Male,9825672577,Panchmahal,70,76,81.0,67,56.0,45,AVGERGE
1,2,2.0,BARIA LEVIN SANTOSHBHAI,Male,9884375747,Anand,40,69,85.0,44,34.0,55,AVGERGE
2,3,3.0,CHAUHAN ABHISHEK RAMKUNVAR,Male,9876428544,Amreli,34,43,86.0,45,86.0,53,CLEVER
3,4,4.0,DESAI JIGAR ANILBHAI,Male,9828909545,Ahmedabad,66,62,71.0,65,77.0,56,AVGERGE
4,5,5.0,DHARAJIYA JIGNESHKUMAR GOPALBHAI,Male,9831362615,Ahmedabad,65,67,87.0,34,63.0,76,AVGERGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,73,72.0,PATEL HEET JAYESHBHAI,Male,9834834778,Narmada,69,43,56.0,92,88.0,86,AVGERGE
72,74,73.0,PATEL ANVI DINESHBHAI,Female,9883401326,jamnagar,94,71,65.0,34,68.0,82,CLEVER
73,75,74.0,HIRPARA ANIKET,Male,9898054882,Bhavnagar,81,61,64.0,82,NaN,93,AVGERGE
74,76,75.0,MEWADA HITEN,Male,9871237130,jamnagar,65,87,34.0,51,34.0,45,AVGERGE
75,77,76.0,BAROT JAY KAMALBHAI,Male,9873119124,kheda,34,45,56.0,44,65.0,83,AVGERGE

In [11]:
print(df.isnull().sum())

Sr. No.              0
Enrollment Number    0
Name                 0
Gender               0
Mobile Number        0
City                 0
COA                  0
OS                   0
CN                   1
OOP-1                0
DS                   1
EG                   0
PERFORMANCE          0
dtype: int64

In [17]:
for i in list(df.columns)[6:12]:
    print(i)
    df[i] = df[i].replace(0, np.nan)
df

COA
OS
CN
OOP-1
DS
EG

,Sr. No.,Enrollment Number,Name,Gender,Mobile Number,City,COA,OS,CN,OOP-1,DS,EG,PERFORMANCE
0,1,1.0,ANSARI ASHFAK HUSSAIN ABRAR AHMED,Male,9825672577,Panchmahal,70,76,81.0,67,56.000000,45,AVGERGE
1,2,2.0,BARIA LEVIN SANTOSHBHAI,Male,9884375747,Anand,40,69,85.0,44,34.000000,55,AVGERGE
2,3,3.0,CHAUHAN ABHISHEK RAMKUNVAR,Male,9876428544,Amreli,34,43,86.0,45,86.000000,53,CLEVER
3,4,4.0,DESAI JIGAR ANILBHAI,Male,9828909545,Ahmedabad,66,62,71.0,65,77.000000,56,AVGERGE
4,5,5.0,DHARAJIYA JIGNESHKUMAR GOPALBHAI,Male,9831362615,Ahmedabad,65,67,87.0,34,63.000000,76,AVGERGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,73,72.0,PATEL HEET JAYESHBHAI,Male,9834834778,Narmada,69,43,56.0,92,88.000000,86,AVGERGE
72,74,73.0,PATEL ANVI DINESHBHAI,Female,9883401326,jamnagar,94,71,65.0,34,68.000000,82,CLEVER
73,75,74.0,HIRPARA ANIKET,Male,9898054882,Bhavnagar,81,61,64.0,82,69.773333,93,AVGERGE
74,76,75.0,MEWADA HITEN,Male,9871237130,jamnagar,65,87,34.0,51,34.000000,45,AVGERGE
75,77,76.0,BAROT JAY KAMALBHAI,Male,9873119124,kheda,34,45,56.0,44,65.000000,83,AVGERGE

In [18]:
for i in list(df.columns)[6:12]:
    df[i].fillna(df[i].mean(), inplace=True)

In [16]:
df.isnull().sum()

Sr. No.              0
Enrollment Number    0
Name                 0
Gender               0
Mobile Number        0
City                 0
COA                  0
OS                   0
CN                   0
OOP-1                0
DS                   0
EG                   0
PERFORMANCE          0
dtype: int64