# practical 3
### Implement a method to find out variation in data. For example the difference between highest and lowest marks in each subject semester wise.

In [2]:
import pandas as pd
import numpy as np
import statistics as stats

In [3]:
df = pd.read_csv('practical data.csv')
df.head()

,Sr. No.,Enrollment Number,Name,Gender,Mobile Number,City,COA,OS,CN,OOP-1,DS,EG,PERFORMANCE
0,1.0,1.0,ANSARI ASHFAK HUSSAIN ABRAR AHMED,Male,9.825673e+09,Panchmahal,70.0,76.0,81.0,67.0,56.0,45.0,AVGERGE
1,2.0,2.0,BARIA LEVIN SANTOSHBHAI,Male,9.884376e+09,Anand,40.0,69.0,85.0,44.0,34.0,55.0,AVGERGE
2,3.0,3.0,CHAUHAN ABHISHEK RAMKUNVAR,Male,9.876429e+09,Amreli,34.0,43.0,86.0,45.0,86.0,53.0,CLEVER
3,4.0,4.0,DESAI JIGAR ANILBHAI,Male,9.828910e+09,Ahmedabad,66.0,62.0,71.0,65.0,77.0,56.0,AVGERGE
4,5.0,5.0,DHARAJIYA JIGNESHKUMAR GOPALBHAI,Male,9.831363e+09,Ahmedabad,65.0,67.0,87.0,34.0,63.0,76.0,AVGERGE

In [26]:
# Variance max-min
for i in list(df.columns)[6:]:    
    if(df[i].dtype == 'int'):
        print(i,"---", np.max(df[i]) - np.min(df[i]))

In [24]:
for i in list(df.columns)[5:]:
    if(df[i].dtype == 'float64'):
        print(i,"---", np.max(df[i] - np.min(df[i])))

COA --- 64.0
OS --- 69.0
CN --- 64.0
OOP-1 --- 73.0
DS --- 63.0
EG --- 65.0

In [27]:
# Variance using numpy
np.var(df['COA'])

245.7160664819945

In [28]:
np.var(df['OS'])

251.72506925207753

In [30]:
np.var(df['CN'])

215.28878116343495

In [31]:
np.var(df['OOP-1'])

367.98389889196676

In [32]:
np.var(df['DS'])

258.3372576177284

In [33]:
np.var(df['EG'])

306.4658933518005