# practical 2
### Perform descriptive analysis and identify the data type.

In [2]:
import pandas as pd
import numpy as np
import statistics as stats

In [3]:
df = pd.read_csv('practical data.csv')
df.head()

,Sr. No.,Enrollment Number,Name,Gender,Mobile Number,City,COA,OS,CN,OOP-1,DS,EG,PERFORMANCE
0,1,1.0,ANSARI ASHFAK HUSSAIN ABRAR AHMED,Male,9825672577,Panchmahal,70,76,81,67,56,45,AVGERGE
1,2,2.0,BARIA LEVIN SANTOSHBHAI,Male,9884375747,Anand,40,69,85,44,34,55,AVGERGE
2,3,3.0,CHAUHAN ABHISHEK RAMKUNVAR,Male,9876428544,Amreli,34,43,86,45,86,53,CLEVER
3,4,4.0,DESAI JIGAR ANILBHAI,Male,9828909545,Ahmedabad,66,62,71,65,77,56,AVGERGE
4,5,5.0,DHARAJIYA JIGNESHKUMAR GOPALBHAI,Male,9831362615,Ahmedabad,65,67,87,34,63,76,AVGERGE

In [4]:
df.dtypes

Sr. No.                int64
Enrollment Number    float64
Name                  object
Gender                object
Mobile Number          int64
City                  object
COA                    int64
OS                     int64
CN                     int64
OOP-1                  int64
DS                     int64
EG                     int64
PERFORMANCE           object
dtype: object

In [5]:
np.mean(df['COA'])

71.6842105263158

In [7]:
stats.mode(df['COA'])

70.0

In [8]:
np.min(df['COA'])

34.0

In [9]:
np.max(df['COA'])

98.0

In [11]:
np.percentile(df['COA'], 25)

nan

In [12]:
np.percentile(df['COA'], 50)

nan

In [13]:
np.percentile(df['COA'], 75)

nan

In [14]:
df['COA'].std()

15.77948924083902

In [15]:
df.describe()

,Sr. No.,Enrollment Number,Mobile Number,COA,OS,CN,OOP-1,DS,EG
count,76.000000,76.000000,7.600000e+01,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000
mean,38.986842,38.500000,9.864197e+09,71.684211,69.342105,75.973684,65.171053,69.710526,72.355263
std,22.520209,22.083176,2.948073e+07,15.779489,15.971268,14.770217,19.310369,16.179671,17.622489
min,1.000000,1.000000,9.812817e+09,34.000000,28.000000,34.000000,23.000000,32.000000,33.000000
25%,19.750000,19.750000,9.834689e+09,65.000000,62.000000,64.000000,52.500000,62.000000,64.750000
50%,38.500000,38.500000,9.869449e+09,70.000000,71.000000,77.000000,66.500000,71.000000,77.500000
75%,58.250000,57.250000,9.891906e+09,83.500000,79.000000,89.000000,81.250000,81.000000,86.250000
max,77.000000,76.000000,9.909774e+09,98.000000,97.000000,98.000000,96.000000,95.000000,98.000000