# Practical 9
### Implement Logistic regression to classify the student as average or clever.

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import numpy as np

In [4]:
df = pd.read_csv("practical data.csv")
df.head()

,Sr. No.,Enrollment Number,Name,Gender,Mobile Number,City,COA,OS,CN,OOP-1,DS,EG,PERFORMANCE
0,1,1.0,ANSARI ASHFAK HUSSAIN ABRAR AHMED,Male,9825672577,Panchmahal,70,76,81,67,56,45,AVGERGE
1,2,2.0,BARIA LEVIN SANTOSHBHAI,Male,9884375747,Anand,40,69,85,44,34,55,AVGERGE
2,3,3.0,CHAUHAN ABHISHEK RAMKUNVAR,Male,9876428544,Amreli,34,43,86,45,86,53,CLEVER
3,4,4.0,DESAI JIGAR ANILBHAI,Male,9828909545,Ahmedabad,66,62,71,65,77,56,AVGERGE
4,5,5.0,DHARAJIYA JIGNESHKUMAR GOPALBHAI,Male,9831362615,Ahmedabad,65,67,87,34,63,76,AVGERGE

In [5]:
df['Performance'] = df['PERFORMANCE'].apply(lambda x: True if (x == 'CLEVER') else False) 
df.head()

,Sr. No.,Enrollment Number,Name,Gender,Mobile Number,City,COA,OS,CN,OOP-1,DS,EG,PERFORMANCE,Performance
0,1,1.0,ANSARI ASHFAK HUSSAIN ABRAR AHMED,Male,9825672577,Panchmahal,70,76,81,67,56,45,AVGERGE,False
1,2,2.0,BARIA LEVIN SANTOSHBHAI,Male,9884375747,Anand,40,69,85,44,34,55,AVGERGE,False
2,3,3.0,CHAUHAN ABHISHEK RAMKUNVAR,Male,9876428544,Amreli,34,43,86,45,86,53,CLEVER,True
3,4,4.0,DESAI JIGAR ANILBHAI,Male,9828909545,Ahmedabad,66,62,71,65,77,56,AVGERGE,False
4,5,5.0,DHARAJIYA JIGNESHKUMAR GOPALBHAI,Male,9831362615,Ahmedabad,65,67,87,34,63,76,AVGERGE,False

In [7]:
X = df[['COA', 'OS', 'CN', 'OOP-1', 'DS', 'EG']]
y = df.Performance

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

model = LogisticRegression()

model.fit(X_train, y_train)

LogisticRegression()